<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.348185142802-os1764ip67iql0hfj4k4gc8unkat36mi</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>348185142802-os1764ip67iql0hfj4k4gc8unkat36mi.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>LeagueSpartan-Regular.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>LeagueSpartan-Light.ttf</string>
		<string>LeagueSpartan-ExtraLight.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>LeagueSpartan-Medium.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>LeagueSpartan-ExtraBold.ttf</string>
		<string>LeagueSpartan-SemiBold.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
	</array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    	<string>We need your location to notify you about offers near the university.</string>
   	<key>NSLocationWhenInUseUsageDescription</key>
    	<string>We need your location to notify you about offers near the university.</string>
    	<key>NSLocationAlwaysUsageDescription</key>
    	<string>We need your location even when the app is in the background.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
